.sass-cache/
node_modules/
bower_components/

*.css.map
*.sass.map
*.htaccess
*.DS_Store

backups/FILES/*
backups/SQL/*

dev_stack/SASSy/*

htpublic/wp-config.php
htpublic/wp-content/
htpublic/wp-content/

htpublic/wp-content/mu-plugins/*
htpublic/wp-content/plugins/*
htpublic/wp-content/themes/*
htpublic/wp-content/upgrade/*
htpublic/wp-content/uploads/*
htpublic/wp-content/wp-cache-config.php
htpublic/wp-content/cache/*
htpublic/wp-content/advanced-cache.php