// SASS GRID
// -------------------------

// mixin
@mixin generate-grid($columns, $size: '') {
	@for $i from 1 through $columns {
		$col_amt: $columns / $i;
		$width: decimal-round(100% / $col_amt, 2);
		@if($size == '') {
			.col-#{$i}-#{$columns} {
				width: $width;
			}
			.col-offset-#{$i}-#{$columns} {
				margin-left: $width;
			}
		}
		@else {
			.col-#{$size}-#{$i}-#{$columns} {
				width: $width;
			}
			.col-#{$size}-offset-#{$i}-#{$columns} {
				margin-left: $width;
			}
		}
	}
}

// base grid utility class builder
@mixin base-grid($columns_map) {
	$grid_length: length($columns_map);
	$grid_last_index: nth($columns_map, $grid_length);
	$grid_size: nth($grid_last_index, 1);
	$grid_num_cols: nth($grid_last_index, 2);
	@include generate-grid($grid_num_cols);
}

// responsive grid utility class builder
@mixin responsive-grid($columns_map) {
	// loop through the grid columns map
	@for $i from 1 through length($columns_map) {
		// map values
		$c: nth($columns_map, $i);
		$c_i: nth($c, 1);
		$c_val: nth($c, 2);
		$s_size: 1px;
		// find the correct screen size to scale at
		@each $bp, $size in $bp_map {
			@if ($bp == $c_i) {
				$s_size: $size;
			}
		}
		// dynamically create grid for each breakpoint
		@if ($c_i == 'min') {
			@include generate-grid($c_val);
		} @else {
			@media (min-width: $s_size) {
				@include generate-grid($c_val, $c_i);
			}
		}
	}
}

// row mixin includes clearfix hack, last-child margin fix and any global row styles
@mixin row {
	width: 100%;
	max-width: $grid-max-width;
	margin: 0 auto;
	@include clearfix;
	@include nesting;
}

// column mixing for box sizing
@mixin col($col, $sum, $gap: 1em, $align: top, $first: false, $last: false) {
	width: percentage($col/$sum);
	display: inline-block;
	float: left;
	vertical-align: $align;
	padding-left: if($first, 0, $gap);
	padding-right: if($last, 0, $gap);
}

// target nested elements with grid styles
// use in global styles as well as row mixin
@mixin nesting {
	// remove padding from parent container so floated columns can fill it
	padding: 0;
}

// clearfix hack
@mixin clearfix {
	zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}
