//	TYPE COMPONENTS
// ==================================================

// ROOT
/*
@keyframes root {
	0% {
		font-size: $font_min;
		line-height: $line_min;
	}
	100% {
		font-size: $font_max;
		line-height: $line_max;
	}
}
*/
