//	COMPOSITION STYLES
//	Cube method => @AndyBell - https://piccalil.li/blog/cube-css/
// ==================================================


// --------------------------------------------------
// BASE
	html { overflow: none; }
	html, body {
		margin: 0;
		padding: 0;
		width: 100vw;
		width: 100%;
		min-height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		//@include scroll-hide();
		@include border-box();
		& * { @include border-box(); }
	}


// --------------------------------------------------
// HOME PAGE
body.home {}


// --------------------------------------------------
// ARCHIVE + SEARCH
body.archive,
body.search {}


// --------------------------------------------------
// PAGE
body.page {}


// --------------------------------------------------
// POST (single)
body.single {}


// --------------------------------------------------
// 404 PAGE NOT FOUND
body.error404 {}

