//	COMPOSITION STYLES
//	Cube method => @AndyBell - https://piccalil.li/blog/cube-css/
// ==================================================

html { overflow: auto; }
body, html, .post, .page {
	margin: 0;
	padding: 0;
	width: 100vw;
	width: 100%;
	height: 100vh;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	@include border-box();
	//@include scroll-hide();
	& * { @include border-box(); }
}



// HOME PAGE
body.home {
	& #primary .entry-title,
	& #secondary,
	& #comments,
	& .entry-header,
	& .edit-link,
	& .entry-footer { display: none; }
	// MAIN
	& #primary {
		& .entry-content > .vc_row > .vc_column_container,
		& .entry-title,
		& .entry-content {
			@extend .container;
		}
		& .entry-content {
			padding: 0rem !important;
			padding: 0rem !important;
		}
	}
}

// OTHER PAGES
body.page,
body.single {
	// MAIN
	& #primary {
		& .entry-title,
		& .entry-meta,
		& .entry-footer,
		& .entry-content {
			@extend .container;
		}
		& .entry-content {
			padding: pixels($body_spacer_max) 0rem;
			padding: $body_spacer_max 0rem;
		}
	}
	& #secondary,
	& #comments {
		display: none;
	}
}



/* PAGE */
#page {
	@include border-box();
	@include scroll-hide();
	& .site {}
	& .skip-link {}
	& .screen-reader-text {}
}



/* HEADER */
#masthead {
	display: block;
	position: fixed;
	width: 100vw;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	z-index: 99;
	& .nav-wrap {
		display: block;
		width: 100%;
		background-color: $color-gcc-orange;
		// sub element general styles
		& .custom-logo-link {}
		& .site-title,
		& .site-description { display: none; }
		//& .site-branding, & .main-navigation { display: inline-block; vertical-align: middle; }
		& .site-branding {
			width: 100%;
			margin: 0 auto !important;
			position: relative;
			z-index: 9;
			background-color: $color-gcc-orange;
			padding: pixels(mscale($body_spacer_min, 1, true)) pixels(mscale($body_spacer_min, 2, true)) 0px pixels(mscale($body_spacer_min, 2, true));
			padding: mscale($body_spacer_min, 1, true) mscale($body_spacer_min, 2, true) 0rem mscale($body_spacer_min, 2, true);
			& .custom-logo-link {
				margin: 0 auto !important;
				height: 100px;
				& img {
					width: auto;
					max-height: 100px;
				}
			}
		}
		& .main-navigation {
			@include scroll-hide();
			& .toggle-menu {
				display: block;
				z-index: 999;
				position: absolute;
				top: $body_spacer_max;
				right: $body_spacer_max;
				transition: $transition-fast;
				font-size: 200%;
				cursor: pointer !important;
				@extend h1;
				@extend .link-inverted;
				& span {
					position: relative;
					display: inline-block;
					font-style: 50%;
				}
				& .toggle-hamburger {
					transform: rotate(90deg);
					padding: mscale($body_spacer_min, 2, True);
				}
				& .toggle-text {
					display: none;
					@include respond-to($vp_sm) {
						display: inline-block;
					}
				}
			}
			& .menu-header-menu-container {
				display: block;
				position: fixed;
				width: 100%;
				height: 100%;
				text-align: center;
				left: 0px;
				bottom: 100%;
				opacity: 0;
				z-index: -8;
				transition: $transition-fast;
				&.active {
					z-index: 1;
					opacity: 1;
					bottom: unset;
					transition: $transition-fast;
				}
				& ul.menu {
					display: block;
					background-color: $color-gcc-orange;
					//background-color: $color-gcm-navy;
					height: 100%;
					& li a {
						@extend h1;
						font-size: 200%;
					}
				}
			}
		}
	}
}
#main-navigation {
	@extend .nav-color-inverted;
}
#footer-navigation {
	@extend .nav-color-inverted;
	width: 100%;
	#footer-menu {
		margin: 0px;
		padding: 0rem mscale($body_spacer_min, 1, true);
		padding: 0px pixels(mscale($body_spacer_min, 1, true));
		display: block;
	}
	@include respond-to($vp_md) {
		& #footer-menu li { display: inline-block; }
	}
}





/* PAGE MAIN */
#primary {
	margin-top: $nav_height;
	&.site-main {}
	// article
	& .page .type-page .hentry {}
	& .entry-header {
		& .entry-title {}
	}
	& .post-thumbnail {
		width: 100%;
		height: 100%;
		height: 640px;
		@extend .image-cover;
	}
	& .entry-content {
		margin: unset;
		padding: 0px pixels($body_spacer_min) 0px pixels($body_spacer_min);
		padding: 0rem $body_spacer_min 0rem $body_spacer_min;
	}
	& .entry-footer {
		padding: pixels($body_spacer_min) 0px pixels($body_spacer_max) 0px;
		padding: $body_spacer_min 0rem $body_spacer_max 0rem;
	}
	// edit post link
	& .edit-link,
	& .post-edit-link {
		display: none;
	}
	& .navigation {
		@extend .container;
		display: none;
		& .nav-previous a,
		& .nav-next a {
			@include button-base();
			padding: pixels($body_spacer_max) 0px;
			padding: $body_spacer_max 0rem;
		}
	}
}



// ASIDE
#secondary {
	@extend .container;
	& .widget {}
}



/* WPBakery FIX */
#vc_load-inline-editor {
	& .vc_inline-link {}
}



/* POST COMMENTS */
#comments {
	@extend .container;
	padding-bottom: pixels($body_spacer_max);
	padding-bottom: $body_spacer_max;
	& .comments-area {}
}
#respond {
	& .comment-respond {}
}
#reply-title {
	& .comment-reply-title {}
}
#cancel-comment-reply-link {}
#commentform {
	& .comment-form {}
	& .logged-in-as {}
	& .comment-form-comment {}
}
#comment {
	& .form-submit {}
}
#submit {
	& .submit {}
}
#comment_post_ {}



/* WIDGETS */
.widget {
	margin: 0rem 0rem $body_spacer_min 0rem;
	margin: 0px 0px pixels($body_spacer_min) 0px;
	& .widget-title {
		@extend h5;
	}
}
#search-2 {
	& .widget.widget_search {}
	& .search-form {}
	& .screen-reader-text {}
	& .search-field {}
	& .search-submit {}
}
#recent-posts-2 {
	& .widget.widget_recent_entries {}
}
#recent-comments-2 {
	& .widget.widget_recent_comments {}
}
#recentcomments {
	& .recentcomments {}
	& .comment-author-link {}
	& .url {}
}
#archives-2 {
	& .widget.widget_archive {}
}
#categories-2 {
	& .widget.widget_categories {}
	& .cat-item {}
	& .cat-item-1 {}
	& .cat-item-2 {}
	& .cat-item-3 {}
	& .cat-item-4 {}
	& .cat-item-5 {}
	& .cat-item-6 {}
	& .cat-item-9 {}
	& .cat-item-10 {}
	& .cat-item-12 {}
}
#meta-2 {
	& .widget.widget_meta {}
	& .widget-title {}
}



/* PAGE COLOPHONE */
#colophon {
	padding: pixels(mscale($font_min, 2)) 0 pixels(mscale($font_min, 2)) 0;
	padding: mscale($font_min, 2) 0 mscale($font_min, 2) 0;
	&.site-footer {
		& a {
			@extend .link-inverted;
		}
	}
	& .site-info {
		padding: 0 pixels(mscale($font_min, 2));
		padding: mscale($font_min, 2);
	}
}



/* ROW BLOCKS */
.vc_row, .wpb_row {
	margin-bottom: pixels(mscale($body_spacer_min, 3));
	margin-bottom: mscale($body_spacer_min, 3);
	&:last-child {
		margin-bottom: pixels(mscale($body_spacer_min, 1));
		margin-bottom: mscale($body_spacer_min, 1);
	}
}


