//	Expections
//	cubE method => @AndyBell - https://piccalil.li/blog/cube-css/
// ==================================================

// debug
#debug { display: none; }
#wpadminbar + #page #masthead {
	top: 32px;
}



// unique pages
body.page-id-7410 {
	& #masthead {}
	& .entry-header {
		@extend .hero-gcc;
		@extend .hero-center;
		display: none;
	}
}



// unique forms
.vc_btn3 {
	@extend .button;
	@extend .button-blue;
}
input[type=submit],
button[type=submit],
.wpforms-page-button {
	@extend .button;
	@extend .button-orange;
}
.wpforms-submit {
	@extend .button;
	@extend .button-orange;
}


// content
.wpb_content_element {
	margin-bottom: 0px !important;
	& + .wpb_content_element {
		margin-top: pixels($body_spacer_max) !important;
		margin-top: $body_spacer_max !important;
	}
}
.vc_custom_heading { margin: 0px !important; }



// Landing page content blocks
#gc_services,
#gc_portfolio,
#gc_team_members,
#blog_posts_recent {
	& .vc_btn3-container {
		margin-bottom: pixels($body_spacer_max*1.5);
		margin-bottom: ($body_spacer_max*1.5);
	}
}
#gc_services,
#gc_portfolio,
#gc_team_members {
	& .vc_general.vc_btn3 { display: none !important; }
	& .vc_grid-item {}
	& .vc_grid-item-mini {}
	& .vc_gitem-zone,
	& .vc_gitem-animated-block {
		display: inline-block;
		vertical-align: top;
		background-color: transparent !important;
	}
	& .vc_gitem-animated-block { width: 33%;
		& .vc_gitem-zone-a {
			width: 100%;
			margin-top: pixels($body_spacer_min);
			margin-top: $body_spacer_min;
		}
	}
	& .vc_gitem-zone-c { width: 66%; }
	& .vc_gitem-post-data { margin-bottom: 0px; }
}
#blog_posts_recent,
#gc_services_vertical {
	& .no-button .vc_btn3-container { display: none; }
	& .vc_general.vc_btn3 {
		@extend .button-blue;
	}
	& .vc_gitem-zone,
	& .vc_gitem-animated-block {
		background-color: transparent !important;
	}
	& .vc_gitem-col {
		padding: 0px;
	}
	& .vc_gitem-post-data {
		margin-top: pixels($body_spacer_min);
		margin-top: $body_spacer_min;
		margin-bottom: 0px;
		& + .vc_gitem-post-data {
			margin-top: 0px;
		}
	}
}

#gc_services_vertical h4 {
	font-size: (pixels($font_max) + (pixels($font_min)/6));
	font-size: ($font_max + $font_min/6);
}

#gc_blog_posts_page {
	& .vc_gitem-zone,
	& .vc_gitem-animated-block {
		display: inline-block;
		vertical-align: middle;
		background-color: transparent !important;
	}
	& .vc_gitem-animated-block { width: 33%;
		& .vc_gitem-zone-a { width: 100%; }
	}
	& .vc_gitem-zone-c { width: 66%; }
	& .vc_gitem-post-data {
		margin-top: pixels($body_spacer_min);
		margin-top: $body_spacer_min;
	}
}

#gc_gmap_location {
	width: 100%;
}
