//	BLOCK ELEMENTS
//	cuBe method => @AndyBell - https://piccalil.li/blog/cube-css/
// ==================================================


// --------------------------------------------------
// POST META
	.post-meta {
		margin-top: pixels($body_spacer_max);
		margin-top: $body_spacer_max;
		padding-top: pixels(mscale($body_spacer_min,1));
		padding-top: mscale($body_spacer_min,1);
		border-top: $form-input-border;
		& .post-author {}
	}


// --------------------------------------------------
// PAGE 
	body { padding-top: 60px; }
	@media screen and (min-width: $vp_sm) {
		body { padding-top: 80px; }
	}
	#page {
		@include border-box();
		@include scroll-hide();
		display: block;
		position: relative;
		width: 100%;
	}


// --------------------------------------------------
// MASTHEAD
	#masthead {
		display: block;
		position: fixed;
		width: 100vw;
		width: 100%;
		height: auto;
		top: 0;
		left: 0;
		z-index: 99;
		& .nav-wrap {
			display: block;
			width: 100%;
			background-color: $color-primary;
			// sub element general styles
			& .site-title,
			& .site-description { display: none; }
		}
		& ul.menu {
			display: block;
			height: 100%;
			text-align: center;
			& li {
				display: block;
				& a {
					display: block;
					@extend .link-inverted;
					@extend .f-header;
					font-weight: bold;
					font-size: pixels($font_min);
					font-size: $font_min;
					padding: pixels( mscale($body_spacer_min, 2, true) ) pixels( mscale($body_spacer_max, 2, true) );
					padding: mscale($body_spacer_min, 2, true) mscale($body_spacer_max, 2, true);
					// responsive
					@media screen and (min-width: $vp_lg) {
						font-size: pixels($font_max);
						font-size: $font_max;
						font-weight: lighter;
					}
				}
				@media screen and (min-width: $vp_md) {
					display: inline-block;
					& a {
						display: block;
						font-weight: bold;
					}
				}
			}
		}
	}
	// SITE BRANDING
	#site-branding {
		width: 100%;
		position: relative;
		z-index: 9;
		background-color: $color-primary;
		& .custom-logo-link {
			display: block;
			margin: 0px; // width: 272px; height: 100px;
						width: 164px; height: 60px;
			& img {		width: 164px; height: 60px; }
			@media screen and (min-width: $vp_sm) {
						width: 218px; height: 80px;
				& img { width: 218px; height: 80px; }
			}
		}
		@media screen and (min-width: $vp_md) {
			width: 218px; height: 80px;
			display: inline-block;
			vertical-align: middle;
		}
	}
	// MAIN NAVIGATION TOGGLE
	#main-navigation-toggle {
		display: block;
		z-index: 999;
		position: fixed;
		top: 0px;
		right: 0px;
		transition: $transition-fast;
		font-size: pixels($font_max);
		font-size: $font_max;
		cursor: pointer !important;
		padding: pixels(mscale($body_spacer_max,2,true)) pixels($body_spacer_min);
		padding: mscale($body_spacer_max,2,true) $body_spacer_min;
		@extend h1;
		@extend .link-inverted;
		& span {
			position: relative;
			display: inline-block;
			font-style: 50%;
		}
		& .toggle-hamburger {
			transform: rotate(90deg);
			padding: pixels(mscale($body_spacer_min, 2, True));
			padding: mscale($body_spacer_min, 2, True);
		}
		& .toggle-text {
			display: none;
			@include respond-to($vp_sm) {
				display: inline-block;
			}
		}
		@media screen and (min-width: $vp_sm) {
			top: pixels(mscale($body_spacer_min, 1, True));
			top: mscale($body_spacer_min, 1, True);
		}
		@media screen and (min-width: $vp_md) {
			display: none;
		}
	}
	// MAIN NAVIGATION
	#main-navigation {
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		text-align: center;
		left: 0px;
		bottom: 100%;
		opacity: 0;
		z-index: -8;
		background-color: $color-primary;
		overflow-y: scroll;
		overflow-x: hidden;
		@include scroll-hide();
		// menu items
		& li {
			transition: $transition-fast;
			& a:hover {
				transition: $transition-fast;
				text-decoration: none;
				color: $color-dark;
			}
			&.current-menu-item a {
				color: $color-dark;
				&:hover {
					color: $color-dark;
				}
			}
		}
		// toggle state
		transition: $transition-faster;
		&.active {
			transition: $transition-faster;
			z-index: 1;
			opacity: 1;
			bottom: 0;
		}
		padding-top: 70px;
		// RESPOND TO
		@media screen and (min-width: $vp_sm) { padding-top: 90px; }
		@media screen and (min-width: $vp_md) { padding-top: 0px;
			display: inline-block;
			vertical-align: middle;
			position: relative;
			width: auto;
			height: auto;
			text-align: center;
			left: auto;
			bottom: auto;
			right: pixels($body_spacer_min);
			right: $body_spacer_min;
			opacity: 1;
			z-index: 0;
			transition: $transition-fast;
			& .menu-header-menu-container {
				display: inline-block;
				vertical-align: middle;
			}
			& ul.menu {
				padding: 0px !important;
				display: block;
				background-color: transparent;
				width: auto;
				height: auto;
			}
		}
	}
	// SOCIAL NAVIGATION
	#social-navigation {
		& ul.menu {
			@extend .padding-v-sm;
			& li {
				display: inline-block;
				& a {
					padding: pixels( mscale($body_spacer_min, 2, true) );
					padding: mscale($body_spacer_min, 2, true);
				}
			}
		}
		@media screen and (min-width: $vp_md) {
			display: inline-block;
			vertical-align: middle;
		}
	}
	// IF FLEXBOX
	@supports (display: flex) {
		#masthead .nav-wrap {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
		}
	}


// --------------------------------------------------
// FOOTER NAVIGATION
	#colophon {
		& #footer-navigation,
		& .site-info {
			@extend .link-inverted;
			@extend .container;
			@extend .padding-h-md;
		}
		& .site-info {
			padding-top: pixels($body_spacer_max);
			padding-top: $body_spacer_max;
		}
		& #footer-navigation {
			width: 100%;
			& .menu-toggle {display: none;}

			& #footer-menu {
				margin: 0px;
				display: block;
				text-align: left;
				& li {
					& a {
						display: block;
						width: 100%;
						@extend .f-body;
						@extend small;
						padding:
							pixels(mscale($body_spacer_min, 1, true))
							pixels(mscale($body_spacer_min, 1, true))
							pixels(mscale($body_spacer_min, 1, true))
							0px;
						padding:
							mscale($body_spacer_min, 1, true)
							mscale($body_spacer_min, 1, true)
							mscale($body_spacer_min, 1, true)
							0rem;
					}
				}
			}
			@include respond-to($vp_md) {
				& #footer-menu {
					& li {
						display: inline-block;
						 & a {
						 	padding:
								pixels(mscale($body_spacer_min, 1, true))
								pixels(mscale($body_spacer_min, 1, true))
								pixels(mscale($body_spacer_min, 1, true))
								pixels(mscale($body_spacer_min, 1, true));
							padding:
								mscale($body_spacer_min, 1, true)
								mscale($body_spacer_min, 1, true)
								mscale($body_spacer_min, 1, true)
								mscale($body_spacer_min, 1, true)
						 }
						 &:first-child a {
						 	padding-left: 0px;
						 	padding-left: 0rem;
						 }
						 &:last-child a {
						 	padding-right: 0px;
						 	padding-right: 0rem;
						 }
					}
				}
			}
		}
	}


// --------------------------------------------------
// POST NAVIGATION
	#primary .category-nav {
		@extend .margin-h-sm;
		& .navigation.pagination,
		& .nav-title {
			display: inline-block;
			vertical-align: middle;
		}
		& .nav-title {
			@extend .all-caps;
		}
		& .nav-links a,
		& .nav-links span {
			@include button-base();
			@include button-size(2, 2, true);
		}
	}


// --------------------------------------------------
// PRIMARY
	#primary {
		& .content-wrap {}
		& .post-thumbnail {
			@extend .image-cover;
			width: 100%;
			height: 100%;
			max-height: 420px !important;
			@media screen and (min-width: $vp_md) {
				max-height: 600px !important;
			}
		}
		& .entry-content {
			margin-top: 0px;
			margin-bottom: 0px;
		}
		& .entry-footer {}
		& .edit-link,
		& .post-edit-link { display: none; }
	}


// --------------------------------------------------
// SECONDARY (sidebar)
#secondary {}


// --------------------------------------------------
// BREADCRUMBS
	.breadcrumbs {
		@extend .padding-h-md;
		@extend .padding-v-md;
	}
	#page-breadcrumbs {}
	#footer-breadcrumbs {}


// --------------------------------------------------
// WIDGETS
	// all widget blocks
	.widget {
		margin: 0px 0px pixels($body_spacer_max) 0px;
		margin: 0rem 0rem $body_spacer_max 0rem;
		& .widget-title { @extend h6; }
	}
	// search widget
	.widget_search {
		@include clearfix();
		& .search-field,
		& .search-submit {
			display: inline-block;
			vertical-align: middle;
			float: left;
		}
		& .search-field {
			width: 70%;
			//border: 2px solid $color-primary;
			border-right: transparent !important;
			border-top-right-radius: 0px !important;
			border-bottom-right-radius: 0px !important;
		}
		& .search-submit {
			width: 30%;
			border: 2px solid $color-primary;
			border-left: transparent !important;
			border-top-left-radius: 0px !important;
			border-bottom-left-radius: 0px !important;
			padding: pixels(mscale($body_spacer_min,1,true)) pixels($body_spacer_min) !important;
			padding: mscale($body_spacer_min,1,true) $body_spacer_min !important;
		}
	}


// --------------------------------------------------
// 


