// --------------------------------------------------
//	VARIABLES

	// VIEWPORTS
	$vp_min: 1px;
	$vp_xs: 320px;
	$vp_sm: 480px;
	$vp_rg: 560px;
	$vp_md: 756px;
	$vp_ml: 960px;
	$vp_lg: 1080px;
	$vp_xl: 1140px;
	$vp_xxl: 1280px;
	$vp_xxxl: 1440px;
	$vp_max: 1920px;

	// TypeTura fluid-type
	$tt_xs: #{strip-unit($vp_xs)};
	$tt_sm: #{strip-unit($vp_sm)};
	$tt_md: #{strip-unit($vp_md)};
	$tt_lg: #{strip-unit($vp_lg)};
	$tt_xl: #{strip-unit($vp_xl)};
	$tt_curve: unquote("cubic-bezier(0, 0.75, 0.1, 0.9)");

	// breakpoints map
	$bp_map: (
		"min": 1px,
		"xs": $vp_xs,
		"sm": $vp_sm,
		"md": $vp_md,
		"lg": $vp_lg,
		"xl": $vp_xl
	);

	// Responsive Grid Columns
	$grid_cols: (
		"min": 1,
		"sm": 4,
		"md": 6,
		"lg": 12
	);

	// Block Sizing Utility
	// 1/10, 1/8, 1/6, 1/4, 1/3
	$block_sizes_map: (
		"1-10": 10, "2-10": 20, "3-10": 30, "4-10": 40, "5-10": 50, "6-10": 60, "7-10": 70, "8-10": 80, "9-10": 90, "10-10": 100,
		"1-8": 12.5, "2-8": 25, "3-8": 37.5, "4-8": 50, "5-8": 62.5, "6-8": 75, "7-8": 87.5, "8-8": 100,
		"1-6": 16.66, "2-6": 33.34, "3-6": 50, "4-6": 66.66, "5-6": 83.34, "6-6": 100,
		"1-4": 25, "2-4": 50, "3-4": 75, "4-4": 100,
		"1-3": 33.37, "2-3": 66.66, "3-3": 100,
		"1-2": 50, "2-2": 100,
		"1-1": 100
	);


// --------------------------------------------------
// GRID

	// page cols
	$gsize: 12;
	$gmargin: 2%;
	$gmrgcnt: $gsize - 1;
	$marginsub: $gmrgcnt * $gmargin;
	$gridremain: (100% - $marginsub);
	$gcolsize: $gridremain / $gsize;


// --------------------------------------------------
// TYPOGRAPHY

	// SCALE
	$html_base_px: 16;
	$font_base_px: 14;
	$mscale: 1.618;

	// FONT OPTIONS
	$font_header: 'Julius Sans One', 'sans-serif';
	$font_body: 'Lato', 'sans-serif';
	$font_mono: 'Courier New', 'Courier', 'monospaced';

	// FONT REM
	$font_min: 1.2rem;
	$line_min: 1.4;
		$font_max: 1.4rem;
		$line_max: 1.6;

	// SPACERS
	$body_spacer_min: 1rem;
	$body_spacer_max: 2rem;
	$drawline: 1px;


// --------------------------------------------------
// COLORS

	// brand colors
	$color-gcc-yellow:	#FED043;
	$color-gcc-orange:	#f98900; // #F19E27
	$color-gcc-red:		#E46840;

	$color-gcm-cool:	#ABDCD7;
	$color-gcm-grey:	#588293;
	$color-gcm-navy:	#2583A0;

	// base colors
	$color-black:		#000000;
	$color-white:		#ffffff;
	$color-eggshell:	#fcf9e6;
	$color-lightgrey:	#bfbfbf;
	$color-darkgrey:	#4d4d4d;
	$color-dark:		#2a2a2a;

	// button colors
	$color-success:		#75d147; // #9ACD32
	$color-info:		#4B98DB;
	$color-warning:		#FFD043; // #E8820E
	$color-error:		#C22E1E; // #872E1E

	$color-primary:		$color-gcc-orange;
	$color-secondary:	$color-gcm-navy;
	$color-tertiary:	#b868e3;

	// lightness value that determines when the lightness of color changes
	// from "dark" to "light". Acceptable values are between 0 and 255.
	$color-contrasted-threshold: 150 !default;
	// customizable light and dark text colors for use in color contrast function.
	$color-contrast-text-dark: $black50 !default;
	$color-contrast-text-light: $white !default;


// --------------------------------------------------
// TRANSITIONS

	$transition: unquote("all 0.5s cubic-bezier(0.20,0.35,0.66,0.75)");
	$transition-fast: unquote("all 0.2s cubic-bezier(0.20,0.35,0.66,0.75)");
	$transition-faster: unquote("all 0.1s cubic-bezier(0.20,0.35,0.66,0.75)");
	$transition-fastest: unquote("all 0.05s ease-in-out");


// --------------------------------------------------
// ELEMENTS

	// slideshow
	$slideshow_height: 70vh;

	// border radius
	$border-radius-bold: 12px;
	$border-radius-default: 5px;
	$border-radius-light: 2px;
	// border radius
	$border-width-bold: 5px;
	$border-width-default: 3px;
	$border-width-light: 1px;
	// border styles
	$border-style-default: solid;
	// border radius
	$border-color-default: $color-darkgrey;
	$border-color-light: $color-lightgrey;
	$border-color-bold: $color-dark;
		$border-default: $border-width-default $border-style-default $border-color-default;
		$border-light: $border-width-light $border-style-default $border-color-default;
		$border-bold: $border-width-bold $border-style-default $border-color-bold;

	// tables
	$table-bordered: false !default;
	$table-row-bordered: false !default;
	$table-row-striped: true !default;


// --------------------------------------------------
// FORMS

	// input
	$form-input-color: $color-dark;
	$form-input-background-color: $transparent;
	$form-input-box-shadow: 0px 0px 5px -2px $color-darkgrey;

	// input border
	$form-input-border-width: 1px;
	$form-input-border-color: $color-darkgrey;
	$form-input-border: $form-input-border-width solid $form-input-border-color;
	$form-input-border-radius: 3px;

	// disabled
	$form-input-disabled-color: $color-lightgrey;

	// input focus
	$form-input-focus-color: $black;
	$form-input-focus-background: $transparent;
	$form-input-focus-border-color: $color-info;
	$form-input-focus-box-shadow: 0px 0px 5px -2px $color-darkgrey;


// --------------------------------------------------
// BUTTONS

	// base
	$btn-font-size: inheret;
	$btn-font-weight: 400;
	$btn-border-radius: 3px;
	$btn-border-width: 2px;
	$btn-border-style: solid;
	$btn-border-color: $color-darkgrey;
	$btn-link-disabled-color: $color-lightgrey;

	// default
	$btn-default-color: $color-primary;
	$btn-default-background: $color-dark;
	$btn-default-border-width: $btn-border-width;
	$btn-default-border-style: $btn-border-style;
	$btn-default-border-color: lighten($color-dark, 10%);
		// :hover
		$btn-default-color-hover: $white;
		$btn-default-background-hover: $black;
		$btn-default-border-width-hover: $btn-border-width;
		$btn-default-border-style-hover: $btn-border-style;
		$btn-default-border-color-hover: lighten($color-dark, 6%);

	// primary
	$btn-primary-color: $white;
	$btn-primary-background: $color-primary;
	$btn-primary-border-width: $btn-border-width;
	$btn-primary-border-style: $btn-border-style;
	$btn-primary-border-color: lighten($color-primary, 10%);
		// :hover
		$btn-primary-color-hover: $white;
		$btn-primary-background-hover: darken($color-primary, 7%);
		$btn-primary-border-width-hover: $btn-border-width;
		$btn-primary-border-style-hover: $btn-border-style;
		$btn-primary-border-color-hover: $color-primary;

	// secondary
	$btn-secondary-color: $white;
	$btn-secondary-background: $color-secondary;
	$btn-secondary-border-width: $btn-border-width;
	$btn-secondary-border-style: $btn-border-style;
	$btn-secondary-border-color: lighten($color-secondary, 6%);
		// :hover
		$btn-secondary-color-hover: $white;
		$btn-secondary-background-hover: darken($color-secondary, 8%);
		$btn-secondary-border-width-hover: $btn-border-width;
		$btn-secondary-border-style-hover: $btn-border-style;
		$btn-secondary-border-color-hover: $color-secondary;

	// tertiary
	$btn-tertiary-color: $white;
	$btn-tertiary-background: $color-tertiary;
	$btn-tertiary-border-width: $btn-border-width;
	$btn-tertiary-border-style: $btn-border-style;
	$btn-tertiary-border-color: lighten($color-tertiary, 10%);
		// :hover
		$btn-tertiary-color-hover: $white;
		$btn-tertiary-background-hover: darken($color-tertiary, 15%);
		$btn-tertiary-border-width-hover: $btn-border-width;
		$btn-tertiary-border-style-hover: $btn-border-style;
		$btn-tertiary-border-color-hover: lighten($color-tertiary, 6%);

	// success
	$btn-success-color: $white;
	$btn-success-background: $color-success;
	$btn-success-border-width: $btn-border-width;
	$btn-success-border-style: $btn-border-style;
	$btn-success-border-color: $color-success;
		// :hover
		$btn-success-color-hover: $white;
		$btn-success-background-hover: lighten($color-success, 10%);
		$btn-success-border-width-hover: $btn-border-width;
		$btn-success-border-style-hover: $btn-border-style;
		$btn-success-border-color-hover: $color-success;

	// info
	$btn-info-color: $white;
	$btn-info-background: $color-info;
	$btn-info-border-width: $btn-border-width;
	$btn-info-border-style: $btn-border-style;
	$btn-info-border-color: $color-info;
		// :hover
		$btn-info-color-hover: $white;
		$btn-info-background-hover: lighten($color-info, 10%);
		$btn-info-border-width-hover: $btn-border-width;
		$btn-info-border-style-hover: $btn-border-style;
		$btn-info-border-color-hover: $color-info;

	// warning
	$btn-warning-color: $white;
	$btn-warning-background: darken($color-warning, 5%);
	$btn-warning-border-width: $btn-border-width;
	$btn-warning-border-style: $btn-border-style;
	$btn-warning-border-color: $color-warning;
		// :hover
		$btn-warning-color-hover: $white;
		$btn-warning-background-hover: lighten($color-warning, 5%);
		$btn-warning-border-width-hover: $btn-border-width;
		$btn-warning-border-style-hover: $btn-border-style;
		$btn-warning-border-color-hover: $color-warning;

	// error
	$btn-error-color: $white;
	$btn-error-background: $color-error;
	$btn-error-border-width: $btn-border-width;
	$btn-error-border-style: $btn-border-style;
	$btn-error-border-color: $color-error;
		// :hover
		$btn-error-color-hover: $white;
		$btn-error-background-hover: lighten($color-error, 12%);
		$btn-error-border-width-hover: $btn-border-width;
		$btn-error-border-style-hover: $btn-border-style;
		$btn-error-border-color-hover: $color-error;

