//	BUTTONS
// ==================================================

.button {
	@include button-base();
	@include button-size(2, 1, true);
}

.button-primary {
	border-radius: $border-radius-default;
	border-style: solid;
	border-color: lighten($color-primary, 10%);
	background-color: $color-primary;
	color: $color-white;
	& * { color: $color-white; }
	@include transition();
	&:hover {
		background-color: darken($color-primary, 10%);
		border-color: $color-primary;
		cursor: pointer;
	}
}

.button-blue {
	border-radius: $border-radius-default;
	border-style: solid;
	border-color: lighten($color-secondary, 10%);
	background-color: $color-secondary;
	color: $color-white;
	& * { color: $color-white; }
	@include transition();
	&:hover {
		background-color: darken($color-secondary, 10%);
		border-color: $color-secondary;
		cursor: pointer;
	}
}