//	COMPOSITION STYLES
//	Cube method => @AndyBell - https://piccalil.li/blog/cube-css/
// ==================================================

// --------------------------------------------------
// BASE
	html { overflow: none; }
	html, body {
		margin: 0;
		padding: 0;
		width: 100vw;
		width: 100%;
		//height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		@include border-box();
		//@include scroll-hide();
		& * { @include border-box(); }
	}


// --------------------------------------------------
// GLOBAL
	.post, .page { margin: 0; }
	#page-breadcrumbs { display: none; }
	#page-header {}

	.xxl-columns {}
	#primary {}
	#secondary {}
	#comments {}

	/*
	@media screen and (min-width: $vp_xl) {
		.xxl-columns {
			@include clearfix();
			& #primary,
			& #secondary {
				display: inline-block;
			}
			& #primary {
				width: 66.66666667%;
			}
			& #secondary {
				padding-top: 80px;
				width: 33.33333333%;
				float: right;
				padding-left: pixels(($body_spacer_min+($body_spacer_min/2)));
			}
		}
	}
	*/


// --------------------------------------------------
// HOME PAGE
body.home {}


// --------------------------------------------------
// ARCHIVE + SEARCH
body.archive,
body.search {}


// --------------------------------------------------
// PAGE
body.page {}


// --------------------------------------------------
// POST (single)
body.single {}


// --------------------------------------------------
// 404 PAGE NOT FOUND
body.error404 {}

