//	FORMS
// ==================================================

form {
	display: block;
	margin: 0 auto;
	padding: 0 0;
	@include border-box();
}

fieldset, .form-group {
	& + .form-group {
		padding-top: mscale($body_spacer_min,2,true);
	}
}

// labels
label {
	&.wpforms-required-label { visibility: hidden !important; }
	color: lighten($color-dark, 25%) !important;
	font-weight: 400 !important;
}

// inputs, select, textareas
input, select, textarea, option {
	@include border-box();
	@include form-input-base();
	@include hover { cursor: pointer; }
	@include form-input-focus();
	border-radius: pixels(mscale($body_spacer_min,2,true)) !important;
	border-radius: mscale($body_spacer_min,2,true) !important;
	padding: pixels(mscale($body_spacer_min,1,true)) pixels($body_spacer_min) !important;
	padding: mscale($body_spacer_min,1,true) $body_spacer_min !important;
}

// input
input {
	&[type=text],
	&[type=textarea],
	&[type=password],
	&[type=email] {
		&:hover { cursor: text; }
	}
	&[type=submit] {
		@include button-base(block);
	}
	
	// files: make file inputs take up a whole line
	&[type=file] {
		display: block;
		width: 95%;
	}
	
	// checkbox & radio
	&[type=checkbox],
	&[type=radio] {
		-webkit-appearance: none !important;
				appearance: none !important;
		display: inline-block !important;
		position: relative !important;
		width: $body_spacer_min*1.5 !important;
		height: $body_spacer_min*1.5 !important;
		margin: 0;
		margin-left: $body_spacer_min;
		margin-right: $body_spacer_min;
		padding: pixels(mscale($body_spacer_min,1,true)) !important;
		padding: mscale($body_spacer_min,1,true) !important;
		@include border();
		@include border-radius($form-input-border-radius);
		background-color: $transparent;
		vertical-align: top !important;
		
		// active states
		&:active,
		&:checked:active { position: relative; }
		// checked
		&:checked {}
		// check mark
		&:checked:after {
			content: '\2713';
			font-size: 120%;
			//position: relative;
			position: absolute;
			top: 1px;
			left: 4px;
			//top: -1px;
			//left: -1px;
		}
	}

	// radio
	&[type=radio] {
		@include border($border-width: ( + 0.5));
		@include border-radius($body_spacer_min / $mscale);
	}

	// telephone
	&[type=tel] {}

	// transparent background
	&.transparent {
		-webkit-box-shadow: inset 0 0 8px  $transparent, 0 0 16px $transparent;
		   -moz-box-shadow: inset 0 0 8px  $transparent, 0 0 16px $transparent;
				box-shadow: inset 0 0 8px  $transparent, 0 0 16px $transparent;
		background-color: $transparent;
	}
}

// select fixes
select {
	// make select the same height as the ratio:rhythm line-height
	&:not([size]),
	&:not([multiple]) {
		//height: $body_spacer_min;
		border-radius: mscale($body_spacer_min,2,true);
	}
	// IE dropdown fix
	&:focus::-ms-value {
		color: $color-black;
		background-color: $color-white;
	}
}

// textarea
textarea {
	letter-spacing: 0.3px;
	white-space: pre-line;
	resize: none;
}

