//	UTILITY CLASSES
//	cUbe method => @AndyBell - https://piccalil.li/blog/cube-css/
// ==================================================





// FLEXBOX UTILITY
//@supports (display: flex) { @include flex-box-utility(); }





// IMAGE UTILITY
@include image-utility();





// BLOCK SIZING UTILITY
//@include block-sizing-utility($block_sizes_map);





// VISIBILITY UTILITY
@include visibility-utility();
//@include responsive-visibility-utility();





// TYPOGRAPHY
// baseline grid
//@include baseline(10px);

// size
.font-1_5x { font-size: 150% !important; }
.font-2x { font-size: 200% !important; }
.font-3x { font-size: 300% !important; }
.font-4x { font-size: 400% !important; }
.font-5x { font-size: 500% !important; }
.font-6x { font-size: 600% !important; }
.font-7x { font-size: 700% !important; }
.font-8x { font-size: 800% !important; }
.font-9x { font-size: 900% !important; }
.font-10x { font-size: 1000% !important; }
// case
.font-small-cap {
	font-weight: 700;
	text-transform: uppercase;
	font-variant: small-caps;
	letter-spacing: 0.1rem;
	padding-top: ($body_spacer_min / $mscale) !important;
	padding-bottom: ($body_spacer_min) !important;
}
.font-oldstyle-nums {
	font-variant-numeric: oldstyle-nums;
}
// alignment
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
// lists
.list-none {
	list-style-type: none;
	list-style: none;
	padding-left: 0rem;
	margin: 0rem;
}
.list-bullet {
	list-style-type: bullet;
	list-style: bullet;
}
.break::before {
	content: "\A";
}





// ARROW UTILITIES
.arrow {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: black;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: black;
}
.arrow-top {			transform: rotate(-45deg);			}
.arrow-right {			transform: rotate(45deg);			}
.arrow-bottom {			transform: rotate(135deg);			}
.arrow-left {			transform: rotate(-135deg);			}
.arrow-top-narrow {		transform: rotate(-45deg) skew(-15deg, -15deg);		}
.arrow-top-wide {		transform: rotate(-45deg) skew(7deg, 7deg);			}
.arrow-top-left {		transform: rotate(-90deg) skew(-10deg, -10deg);		}
.arrow-top-right {		transform: rotate(0) skew(-10deg, -10deg);			}
.arrow-bottom-left {	transform: rotate(180deg) skew(-10deg, -10deg);		}
.arrow-bottom-right {	transform: rotate(90deg) skew(-10deg, -10deg);		}





// Show Full Height onclick module
.height-visible {
	max-height: none !important;
	transition: $transition;
}





// MARGIN & PADDING
// PADDING
@include padding-utility();

// MARGIN
@include margin-utility();




